# Binaries
/bin/
/obj/
/out/
*.exe
*.dll
*.so
*.dylib
*.a
*.o

# Go specific
*.log
*.test
# *.mod
# *.sum
*.exe
*.out

# IDE & Editor settings
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml
**/node_modules
**/coverage